html{
    scroll-behavior: smooth;
}

.bodyMain{
    background-image: url(/img/annie-spratt-e92dhXE8PUg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#containerMain{
    margin-top: 1%;
}

/* STYLE BACK TO TOP BUTTON */

#bt {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99999;
}

#bt a {
    width: 64px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;    
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#bt span {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: .4;
}
#bt a:hover span {
    opacity: 1;
}

/* STYLE NAVBAR */

.navbar{
    padding: 0px 5px;
}

.navbar-brand img{
    width: 400px;
}

.nav-item{
    /* margin: 0px 5px; */
}

.nav-item a{
    padding: 10px 5px;
    font-size: 18px;
    text-shadow: 2px 2px 1px black;
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0) !important; 
}

.bg-nonTransparent{
    /* background-color: rgb(49, 18, 48); */
    background: linear-gradient(to right,rgb(49, 18, 48),rgb(63, 25, 62),rgb(75, 7, 58));
}

/* STYLE BUTTON */

.btn-primary{
    background-color: rgb(63, 25, 62);
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
}

.btn-primary:hover{
    background-color: rgb(39, 13, 38);
}

/* STYLE CAROUSEL */

#mySlide{
    /* height: 100vh; */
    /* background-attachment: fixed; */
}

/* CONTENT */
#beranda{
    height: 100%;
    background: url(/img/bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#contentBeranda{
    color: white;
    font-size: 24px;
    padding: 0px 0px;
    text-shadow: 2px 3px 1px black;
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
    position: absolute;
    z-index: 999; 
    bottom: -200px;
}

/* PARALAX LANDING ELEMENT */

#contentBeranda.show{
    opacity: 1;
    transform: translate(0, 0);
}

#bungaPapan{
    /* background-color: sandybrown; */
}

.carousel-item img{
    height: 100vh;
}

#bouquet, #bungaHias, #order, #aboutUs{
    padding: 100px 0px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20px -50px;
}

#bouquet{
    padding: 20px 20px;
    height: 100vh;
}

#bungaHias{
    background-image: url(/img/mawarMerah.jpeg);
    height: 100vh;
}

#order, #aboutUs{
    color: rgb(74,74,74);
}

/* MOBILE VIEW */

@media only screen and (max-width: 576px){
    .bg-dark{
        background: linear-gradient(to right,rgb(49, 18, 48),rgb(63, 25, 62),rgb(75, 7, 58));
    }
    .navbar-brand img{
        width: 300px;
    }
    #contentBeranda{
        top: 250px;
        font-size: 12px;
    }
    .btn-primary{
        padding: 5px 5px;
        width: 100px;
        height: 50px;
        font-size: 14px;
    }
    .bodyMain{
        background-position: -200px 0px;
    }

    #scene img{
        width: 250px;
        margin: auto;
    }
}