html{
    scroll-behavior: smooth;
}

body{
    /* background-color: #212529; */
    background-color: whitesmoke;
}

#containerMain{
    margin-top: 1%;
}

/* STYLE BACK TO TOP BUTTON */

#bt {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99999;
}

#bt a {
    width: 64px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;    
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#bt span {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: .4;
}
#bt a:hover span {
    opacity: 1;
}

/* STYLE NAVBAR */

.navbar{
    padding: 0px 5px;
}

.nav-item{
    margin: 0px 5px;
}

.nav-item a{
    font-size: 18px;
    text-shadow: 2px 2px 1px black;
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0) !important; 
}

.bg-nonTransparent{
    /* background-color: rgb(49, 18, 48); */
    background: linear-gradient(to right,rgb(49, 18, 48),rgb(63, 25, 62),rgb(75, 7, 58));
}

/* STYLE BUTTON */

.btn-primary{
    background-color: rgb(63, 25, 62);
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
}

.btn-primary:hover{
    background-color: rgb(39, 13, 38);
}

/* STYLE CAROUSEL */

#mySlide{
    /* height: 100vh; */
    background-attachment: fixed;
}

.carousel-item img{
    height: 100vh;
}

/* CONTENT */
#beranda{
    height: 100vh;
    background-image: url(/florist/img/mawarMerah.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0px;
}

#contentBeranda{
    color: white;
    font-size: 24px;
    /* background-color: rgba(0, 0, 0, .5); */
    border-radius: 20px;
    padding: 50px 0px;
    text-shadow: 2px 3px 1px black;
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
}

#contentBeranda.show{
    opacity: 1;
    transform: translate(0, 0);
}

#bungaPapan{
    background-color: sandybrown;
}

#bouquet, #bungaHias, #order, #aboutUs{
    padding: 100px 0px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20px -50px;
}

#bouquet{
    background-image: url(/florist/img/buket.jpg);
    height: 100vh;
}

#bungaHias{
    background-image: url(/florist/img/mawarMerah.jpeg);
    height: 100vh;
}

#order, #aboutUs{
    color: rgb(74,74,74);
}